@import "tailwindcss";

@theme {
  --color-brand-primary: #00B500;
  --color-brand-primary-hover: #00B500;
  --color-brand-secondary: #1A1A1A;
  --color-brand-text-muted: #6B7280;
  --color-brand-bg-light: #FFFFFF;
  --color-brand-bg-off-white: #F9FAFB;
  --color-brand-border: #E5E7EB;
  --color-brand-input-bg: #F3F4F6;

  --font-inter: "Inter", sans-serif;
}

@layer base {

  *,
  ::after,
  ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-inter);
    background-color: var(--color-brand-bg-light);
    color: var(--color-brand-secondary);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}